.bg-transparent {
  background-color: transparent;
}

:host {
  height: 100%;
}

.photo {
  object-fit: contain;
}

.card {
  width: 20rem;
  margin: 0 auto;
}

.google-btn {
  padding-left: 0;
  border-left-width: 0;
}